<<<<<<< HEAD
header{
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
>>>>>>> d2e6e4ff13e69b914423d4f31e6db8eab1fa2f20
